*{
    padding:0;
    margin:0;
  }
  
  
  .dropbtn {
  background-color:transparent;
  border: none;
  cursor: pointer;
  top:2.7vw;
  left:5vw;
  height:5vw;
  width:5vw;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  
  }
  
  #myDropdown{
    height:50vw;
    width:35vw
  }
  
  
  
  .dropdown {
  position: relative;
  display: inline-block;
  }
  
  
  .dropdown-content {
  display: none;
  position: fixed;
  margin-top: 15vw;
  background-color: #f1f1f1;
  min-width: 20vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height:20vh;
  width:25vh;
  font-size:40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  
  }
  
  
  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  
  
  
  .show {display:block;}
  
  
  .img{
  height:4.7vw;
  width:4.7vw;
  position: absolute;
  top:5vw;
  left:5%;
  background-image: url("../img_src/menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  
  }
  
  
  
  
  .toggle{
  top:5vw;
  background-image: url("../img_src/close.png");
  transition: 0.3s ease-in-out;
  height:3.6vw
  
  }
  
  .container{
  width:100%;
  height:13vw;
  background-image:linear-gradient(90deg, rgba(25, 62, 108, 0.847), rgba(7, 7, 50, 0.803))
  }
  
  
  
  
  
  
  .content{
  margin-top:0
  }
  
  .element1, .element2 , .element3{
  padding-left:5vw;
  padding-top:5vw;
  padding-bottom: 5vw;
  font-size: 3vh;
  }
  
  
  .element1:hover, .element2:hover, .element3:hover{
  background-color: #ddd;
  }
  
  
  
  .nav{
  display:none;
  }
  
  .png{
    height: 3vw
  }
  
  .link{
    font-size: 3vw;
    font-weight:200;
  }
    
    
  @media only screen  and (min-device-width : 426px) and (max-device-width : 1023px)   {
  
  .container{
    background-image:linear-gradient(90deg, rgba(25, 62, 108, 0.847), rgba(7, 7, 50, 0.803));
    height: 10vw;
  }
  
  
  .dropbtn{
    height:7vw;
  }
  
  
  
  .nav{
    position:absolute;
    top:2%;
    left:50%;
    display: block;
    display: none;
  }
  
  .nav a{
    font-size:3vw;
    text-decoration: none;
    padding-left: 3vh;
    padding-right:3vh;
    font-family: 'Poppins', sans-serif;
    color:#ffff;
  }
  
  .ds{
    font-size:3vw;
    color: #f6f6f6;
    display:none
  }
  

  
  .container{
    height: 7.4vw;
  }
  
  .img{
   position: absolute;
   top: 5.5%;
    height:4.2vh;
    width:4.2vh;
    margin-top:-1.8vw;
    left:5.5vw
  
  }


  .dropbtn{
    background-color: transparent;
    height: 4vw;
    position: absolute;
    top:8%;
    margin-top: 0.8vw;
    left: 5vw;
  }
  

  .toggle{
    top:4.6vw;
    background-image: url(../img_src/close.png);  
    height:2.8vw;
    left:6vw;
    transition: 0.3s ease-in-out;

    }

    .content{
        height: 50vh;
    }

 .link{
    font-size:18px;
    padding: 0;
    margin: 0;
    top:2vw;
    left: 5vw;
    width:30vh;
 }


  
 .png{
    height: 2vw;
 }

 .element1, .element2 , .element3{
    padding-left:3vw;
    padding-top:3vw;
    padding-bottom: 3vw;
    padding-right: none;
    font-size: 3vh;
    height: 5vh;
    width:26.5vh;
    }

    .dropdown-content{
      height: 20vh
    }



  .content{
    height: 20vh;
  }

 .dropdown-content{
  background-color:transparent;
  position: absolute;
box-shadow: none;

 }


 .box{
  position: absolute;
  top:19.5%;
  height:42vh;
  width:30vh;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
display: none;
 }

 .box_new{
  display: block;
 }


}
